html {
    font: 1em helvetica, arial, sans-serif;
    line-height: 1.6;
}

body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #00e;
}

.main {
    max-width: 37.5em;
    margin: 0 auto;
    padding: 0 1em;
}



