{% extends 'base.html' %}

{% block content %}
  <h1>Cuddy</h1>
  
  <table class="table">
    <thead>
      {% for field in fields %}
        <th>{{ field.title }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for instance in instances %}
        <tr>
          {% for field in instance.fields %}
            <td>
              {% if edit_link_field == field.title %}
                <a href="{{ instance.url }}">
              {% endif %}
              {{ field.value }}
              {% if loop.first %}
                </a>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
